/* Booking Page Component Styles */
.booking-page {
    background-color: var(--color-primary-1);
    padding-top: 20px;
}

.booking-intro {
    text-align: center;
}

.booking-intro h1 {
    margin: 0;
    color: var(--color-primary-2);
}

.booking-intro p {
    margin: 0;
    /* color: var(--color-highlight-2); */
    color: var(--color-highlight-1);
}

.booking-content {
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: stretch;
    margin-top: 30px;
    gap: 40px;
}

.hours-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.day {
    font-weight: var(--weight-semibold);
    color: #1c2b3a;
}

.time {
    color: #4a5568;
}

.booking-page h3 {
    margin: 0;
}

.reservation-info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card.open-hours-card:hover,
.card.reservation-policy-card:hover,
.card.contact-info-card:hover {
    transform: none;
}

.reservation-policy,
.open-hours-card {
    text-align: left;
}

.reservation-policy ol {
    padding-left: 15px;
    margin: 0;
}

.reservation-policy ol p {
    margin: 0 0 0.5rem 0;
    font-size: var(--text-body);
}

.card.contact-info-card {
    margin-top: 50px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .booking-content {
        grid-template-columns: 1fr;
    }

    .reservation-info-container {
        gap: 40px;
    }

    .card.contact-info-card {
        margin-top: 40px;
    }
}
